//
// UI Variables
// --------------------------------------------------

//== Sizes

$ui-size-base:              14px !default;
$ui-gutter:                 20px !default;
$ui-circle-size:            26px !default;

//== Colors

$ui-white:                  #ffffff !default;
$ui-black:                  #000000 !default;
$ui-gray-dark:              #878787 !default;
$ui-gray-light:             #e4e4e4 !default;
$ui-gray-lighter:           #f5f5f5 !default;
$ui-gray:                   #9d9d9d !default;
$ui-orange:                 #fe6603 !default;
$ui-gold-light:             #e5d1b3 !default;
$ui-orange-light:           #ff8400 !default;
$ui-orange-dark:            #ff4505 !default;

$ui-green:                  #5cb800 !default;
$ui-red:                    #ff3d00 !default;


//== Typography

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Oswald:300,400,700&subset=latin-ext');

$ui-font-family:            'Oswald', Arial, sans-serif !default;
$ui-font-family-second:     'Lato', Arial, serif !default;

$ui-font-bold:              600 !default;

//== Transitions

$ui-transition-base:        all .1s ease-in-out !default;

//== mobile menu

$menu-shift: 280 !default;