@mixin rotate($value) {
  /*@include rotate(-45deg);*/
  transform: rotate($value) ;
  -webkit-transform: rotate($value) ;
  -moz-transform: rotate($value) ;
  -o-transform: rotate($value) ;
  -ms-transform: rotate($value) ;
}

@mixin roundCorners($value) {
  /*@include roundCorners(100%);*/
  -moz-border-radius: $value;
  -webkit-border-radius: $value;
  border-radius: $value;
}

@mixin transition($value) {
  /*@include transition(all 700ms linear 0.6s);*/
  -webkit-transition:   $value;
  -moz-transition:      $value;
  -ms-transition:      $value;
  -o-transition:        $value;
  transition:           $value;
}

@mixin box-shadow($value) {
  /*@include box-shadow(10px 10px 5px #000000);*/
  -moz-box-shadow: $value;
  -webkit-box-shadow: $value;
  box-shadow: $value;
}