html, body{
  overflow: hidden;
}
body{
  >.row{
    margin-bottom: 0;
  }
  .header{
    height: 70px;
    background-color: white;
    border:1px solid white;
  }

}
.btn{
  background-color: #bd707b;
}
.material-icons{
  color: #bd707b
}

.logo{
  padding-top: 4px;
  display: inline-block;
  h5{
    margin:0;
    img{
      max-height: 60px;
    }
  }
}

