.menu{
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 999;
  .btn{
    padding-left: 8px;
    padding-right: 8px;
  }
  .dropdown-button{
    @include roundCorners(0 !important);
    @include box-shadow(0px 0px 0px #000000);
    padding-left: 2px;
    background-color: white;
    border: 1px solid #bd707b;
    width: 40px;
    height: 40px;
    padding-top: 2px;
  }
  .material-icons{
    color: #bd707b;
    font-size: 35px !important;
  }
  > label{
    width: 30px;
    height: 30px;
    border: 1px solid red;
    text-align: right;
    display: block;
  }
  .dropdown-content{
    width: 200px !important;
    left: 0;
    left: auto !important;
  }
  &:hover{
    ul{
      display: block;
    }
  }
  ul{
    background-color: white;
    display: none;
    li{
      a{
        padding: 15px;
      }
    }
  }
}