.preloader{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999;
  .progress{
    width: 80%;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
  }
}