.header{
  .search{
    position: absolute;
    right: 10px;
    top: 10px;
    .material-icons{
      font-size: 35px !important;
      margin-top: 7px;
    }
  }
  .search-float{
    position: absolute;
    right: 0%;
    left: 0;
    width: 100%;
    top: -100%;
    height: 70px;
    background-color: white;
    z-index: 999;
    @include transition(all 700ms linear 100ms);
    button{
      background-color: transparent;
      border:0;
      display: inline-block;
      vertical-align: middle;
      margin-top: 7px;
      .material-icons{
        font-size: 35px !important;
      }
    }
    &.show{
      top: 0;
      @include transition(all 700ms linear 100ms)
    }
    .close-search{
      display: inline-block;
      vertical-align: middle;
      margin-left: 7px;
      margin-top: 7px;
      .material-icons{
        font-size: 35px !important;
      }
    }
    .input-field{
      display: inline-block;
      width: calc(100% - 100px);
      input{
        margin: 0;
      }
    }
  }
}